
/OrderCalculator/.vs/OrderCalculator.slnx
/OrderCalculator/OrderCalculator/bin/Debug/net10.0
/OrderCalculator/OrderCalculator/obj
/OrderCalculator/OrderCalculatorTests/bin/Debug/net10.0
/OrderCalculator/OrderCalculatorTests/obj
